include AUTHORS
include LICENSE
include DESCRIPTION
include CHANGELOG.txt
include README.md
graft cerevisiae
global-exclude *.orig *.pyc *.log *.swp
prune cerevisiae/tests/coverage
prune cerevisiae/.ropeproject
